.castle-background {
  background: url('../../assets/background/castle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  font-family: 'Poiret One', cursive;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 30px;
  transition: 0.5s;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &:hover {
    background-color: #FFFFFF;
    opacity: 0.6;
    a {
      color: black;
    } 
  }
  a {
    font-weight: bold;
    color: white;
    display: block;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    &:hover {
      color: #3333cc;
    }
  }
  i {
    margin-left: 10px;
  }
  span {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}

.scroll-header {
  transition: 1s;
  background-color: #FFFFFF;
  opacity: 0.8;
  a {
    color: black;
  } 
}