{
  parser: "babel-eslint",
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "amd": true,
    "mocha": true
  },
  "rules": {
    "max-len": [1, 200, 2, {ignoreComments: true}],
    "eol-last": [0],
    "indent": 0,
    "react/jsx-indent": 0,
    "quotes": [1, "single"],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "react/prefer-stateless-function": 0,
    "arrow-body-style": ["error", "always"],
    "no-console": 1,
    "no-unused-vars": 1
  },
  "settings": {
    "import/resolver": {
      "webpack": "webpack.config.js"
    }
  }
}