.bar {
  margin-top: -8px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-x: hidden;
  z-index: 5;
}

.track {
  height: 8px;
  display:block;
  background: white;
  width: 200px;
  position:relative;
  animation:progressbar 3s infinite;
}

@keyframes progressbar {
  from {
    left:0
  }
  to {
    left:100%
  }
}