.good-container {
  height: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 5px;
  padding-bottom: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #e6e6e6;
  min-width: 220px;
  label {
    margin: 10px 15px 0;
    font-size: 20px;
  }
  p {
    margin: 5px 15px;
    color: #666;
    font-size: 16px;
  }
  a {
    display: inline-flex;
    overflow-x: hidden;
  }
}

.closed {
  opacity: 0.5;
}

.image {
  flex-grow: 1;
  height: 300px;
  object-fit: cover;
}