.edit-block {
  display: flex;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #e6e6e6;
  max-width: 1200px;
  width: 100%;
  img {
    height: 300px;
    width: 400px;
    object-fit: cover;
  }
}

.edit-info {
  padding: 10px 30px;
  height: 230px;
  margin: 0;
  dt {
    margin-top: 10px;
  }
  dd {
    margin: 5px 0 5px;
    color: #666;
  }
}

.edit-container {
  width: 100%;
}

.btn-container {
  height: 70px;
  padding: 12px;
  background-color: #e6e6e6;
}